<div class = "p-4 bg-white rounded-lg shadow-md mb-4">
  <div class="flex items-center space-x-2">
    <% if url_visit.country.present? %>
      <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
        <%= url_visit.city.present? ? "#{url_visit.city}, #{url_visit.country}" : url_visit.country %>
      </span>
    <% else %>
      <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
        Unknown
      </span>
    <% end %>
  </div>
  <p class="text-sm text-gray-500 mb-2">
    <%= url_visit.created_at.in_time_zone().strftime("%b %d, %Y %l:%M %p") %>
  </p>
</div>